{% extends 'base.html' %}


{% block current_page %} ERROR 404 {% endblock current_page %}

{% block title %} Error 404 {% endblock title %}

{% block content %}

            {% for mesaj in messages %}
                    <br><Br>
                  <h3 style="text-align: center"><strong style="color: red">Error! </strong> {{ mesaj }}</h3>
         {% endfor %}

    <div class="message" style="text-align: center; padding-top: 10%">
        <h1> <i class="fas fa-bug"></i> < Error 404 ></h1>
        <br>
        <h4>Aceasta pagina nu exista.<br></h4>
    </div>


{% endblock content%}